:root {
  font-family: Noto Sans KR, Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;

  color-scheme: light dark;
  color: #202020;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 1px;
}

@media screen and (max-width: 1366px) {
  :root {
    font-size: 9px;
  }
}

/* 태블릿 화면 스타일 */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 8.5px;
  }
}

/* 모바일 (폰) 화면 스타일 */
@media screen and (max-width: 600px) {
  :root {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 6.5px;
  }
}
